[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "GenericML"]
	path = GenericML
	url = https://github.com/mwelz/genericml
	shallow = true
	registered = true
