[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GenericML"]
	path = GenericML
	url = https://github.com/mwelz/genericml
[submodule "robcat"]
	path = robcat
	url = https://github.com/mwelz/robcat
